*{
	padding: 0;
	margin: 0;
}
.container{
max-width: 1110px;
margin: 0 auto;
}
/*.game{
	background: #999999;
}
.name{
	color: red;
	font-size: 20px;
}
li{
	list-style: none;
	margin: 10px;
}
ul{
	display: flex;
	justify-content: center;
}
.imgclass{
	width: 480px;
	height: 270px;
}*/
.header{
	background: #2BB430;
}
.container_header{
	display: flex;
	justify-content: space-between;
	padding: 36px 0;
	align-items: center;
}
.logo{
	display: flex;
	align-items: center;
	
}
.logo__img{
	margin-right: 10px ;
	width: 100px;
}
.logo__title{
	text-align: center;
	color: #00C4F0;
font-family: Nico Moji;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nav__list{
	display: flex;
	list-style: none;
}
.nav__item:not(:last-child){
margin-right: 63px;
}
.nav__item{
	color: #00C4F0;
	list-style: none;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
}
/*.glavnai{
	display: flex;
	background: #5398BE;
}
.ghj{
	width: 632px;
height: 574px;
margin: 66px 48px 67px 115px;
}
.zagolovok{
	margin: 182px 115px 30px 48px;
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.textzagolovok{
	color: #E4E4E4;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.wsa{
	width: 343px;
height: 332px;
}
.secondsection{
	display: flex;
	justify-content: flex-end;
}*/
.nav__link{
	text-decoration: none;
}
.hb__wrap{
display: flex;
/*align-items:center ;*/
}
.hero-block__title{
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 44px;
font-style: normal;
font-weight: 400;
margin: 132px 115px 30px 0;

}
.hero-block{
	background: #5398BE;
	padding: 0;
}
.hero-block__text{
	color: #E4E4E4;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-block__img{
	width: 474px;
height: 431px;
margin: 66px 48px 67px 100px;
}
.about{
	background: #5398BE;
	padding: 70px 0 49px 0;
}
.about__title{
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.about__content{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.prog__text{
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.prog__bg{
	width: 396px;
height: 10px;
background: #00C4F0;
}
.prog__fg_0{
	width: 100%;
	height: 100%;
	background: #2C2C2C ;
}
.prog__fg_1{
	width: 50%;
	height: 100%;
	background: #2C2C2C ;
}
.about__img{
	width: 515px;
	height: 498px;
}
.video{
	background: #5398BE;
	padding: 100px 0 100px 0;
}
.video__title{
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.video__wrap{
	max-width: 1111px;
	height: 659px;
	margin: 0 auto;
}
.video__item{
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
border-radius: 5%;
}
.video__container{
	width: 100%;
	height: 100%;
	position: relative;
}
.video__bg{
	width: 100%;
	height: 100%;
	background: violet;
	border-radius: 10%;
	filter: blur(30px);
}
.gallery{
	background: #5398BE;
	padding: 50px 0 50px 0;
	
}
.gallery__title{
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.gallery__list{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}
.gallery__img{
	width: 100%;
height: 100%;
}
.gallery__item{
	width: 31%;
	margin: 1%;
}
.gallery__wrap{
	max-width: 1600px;
	margin: 0 auto;
}
footer{
	background: #2C2C2C;
	width: 100%;
}
.footer__container{
	display: flex;
	justify-content: space-between;
}
.footer__text{
	margin: 50px;
	color: white;
}
.footer__title{
	font-size: 36px;
}
.footer__icons{
	margin: 50px;
}
.footer__img{
	margin: 10px;
}